@font-face {
  font-family: 'get_schwiftyregular';
  src: url('./assets/fonts/Schwifty/get_schwifty-webfont.woff2') format('woff2'),
       url('./assets/fonts/Schwifty/get_schwifty-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.App {
  width: 100%;
  height: 100%;
  background-image: url("./assets/background/body.jpg");
  background-size: auto;
  color: white;
  font-family: 'get_schwiftyregular', 'Roboto';
}

nav {
  padding: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  background-image: url("./assets/background/navbar.png");
  background-size: cover;
  box-shadow: 0px 31px 57px 34px rgba(24,21,19,1);
 -webkit-box-shadow: 0px 31px 57px 34px rgba(24,21,19,1);
 -moz-box-shadow: 0px 31px 57px 34px rgba(24,21,19,1);
}

.search-box {
  align-items: center;
}

.search-box>input {
  padding: .5rem 1rem;
  border: 5px solid rgba(67,180,204,255);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.search-box>button {
  padding: .5rem;
  padding-left: .2rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 5px solid rgba(67,180,204,255);
  background-color: rgba(67,180,204,255);
}

.search-box>button:hover {
  cursor: pointer;
}

.id-exceeded {
  border: 2px solid red;
  position: absolute;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: red;
  color: white;
  box-shadow: 0px 0px 33px 14px rgba(24,21,19,1);
  -webkit-box-shadow: 0px 0px 33px 14px rgba(24,21,19,1);
  -moz-box-shadow: 0px 0px 33px 14px rgba(24,21,19,1);
  transition: all 1s;
}

.autocomplete {
  position: absolute;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  min-width: 240px;
  max-width: 240px;
  max-height: 280px;
  overflow: hidden;
  overflow-y: auto;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 20px;
  list-style: none;
  padding: .5rem;
  border: 5px solid rgba(67,180,204,255);
  cursor: default;
}

.autocomplete li {
  padding: 0.3rem;
  border-radius: 8px;
}

.autocomplete li:hover {
  background-color: rgba(67,180,204,255);
  color: white;
}

.location-info {
  text-align: center;
  padding: 0 .5rem;
  margin-bottom: 4rem;
}

.location-info>h1 {
  font-size: 60px;
  margin-bottom: 3rem;
  color: rgba(66,181,203,255);
  text-shadow: 0px 0px 11px rgba(191,223,67,1);
  -webkit-text-stroke-width: .02px;
  -webkit-text-stroke-color: black;
}

.location-info p>b {
  color: rgba(191,223,67,255);
}

.location-info p {
  color: rgba(66,181,203,255);
  padding: 0.5rem 0;
  text-shadow: 0px 0px 20px black;
  font-size: 24px;
}

.warning {
  width: 100vw;
  font-size: 32px;
  text-align: center;
  color: red;
  -webkit-text-stroke-width: .02px;
  -webkit-text-stroke-color: black;
}

.resident-card {
  background-color: black;
  border-radius: 20px;
  text-align: center;
  padding: 1rem 0;
  margin: 1rem;
  background-color: rgb(38, 38, 38);
  box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.75);
}

.resident-card>h2 {
  margin: 1rem 0;
}

.image-wrapper>img {
  width: 250px;
  margin: 1rem 0;
  border-top: 5px solid rgba(67,180,204,255);
  border-left: 5px solid rgba(67,180,204,255);
  border-bottom: 5px solid rgba(191,223,67,1);
  border-right: 5px solid rgba(191,223,67,1);
  border-radius: 3px;
  box-shadow: 0px 0px 8px 7px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 8px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 7px rgba(0,0,0,0.75);
}

.resident-card>.info p {
  margin: 1rem 0;
}

.footer {
  text-align: center;
  font-family: 'Roboto';
  font-size: 8px;
  margin: 1rem 1rem;
  margin-top: 4rem;
  border-top: 1px solid white;
  padding-top: 1rem;
}

@media only screen and ( min-width: 481px ) {
  nav {
    padding: 14rem 2rem;
  }

  .search-box>input {
    width: 50%;
    padding: 1rem 2rem;
  }

  .search-box>button {
    padding: 1rem;
    padding-left: .6rem;
  }

  .autocomplete {
    min-width: 51%;
    max-width: 51%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .location-info>h1 {
    font-size: 100px;
    margin-bottom: 6rem;
  }

  .warning {
    font-size: 50px;
  }

  .location-info p {
    font-size:32px;
  }

  .resident-list {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .resident-card {
    width: 350px;
    margin: 1rem auto;
  }

  .footer {
    font-size: 10px;
    margin: 1rem 3rem;
    margin-top: 6rem;
    border-top: 1px solid white;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}