* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/background/body.jpg");
  background-size: auto;
}

code {
  margin: 0;
  padding: 0;
}
